<h2>Categoeries</h2>

<table>
  <% @categories.each do |category| %>
    <tr>
      <td>
        <%= category.name %>
      </td>
    </tr>
  <% end %>
</table>

<h2>Users</h2>

<table>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.short_name, edit_profile_path(user) %>
      </td>
    </tr>
  <% end %>

</table>